@import '../styles/reset.scss';
@import './global.scss';

html,
body {
  height: 100%;
}

html {
  background-color: $white;
  color: $dark-blue;
  font: $regular 100% $font-family;
}

body {
  font-size: 1.25rem;
}

#signUpForm {
  max-width: 95%;
  margin: 10% auto;
  width: 100%;
  @media only screen and (min-width: $bp-desktop) {
    margin: 0 auto;
    max-width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

header {
  margin-bottom: 2rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: $bold;
  margin-bottom: 0.8rem;
}

form {
  width: 100%;
  padding: 1.25rem;
  background-color: $light-blue;
  border-radius: 0.5rem;
  position: relative;
  
  @media only screen and (min-width: $bp-tablet) {
    padding: 2rem;
  }
}

.field {
  margin-bottom: 1.25rem;
}

label,
input,
button {
  display: block;
}

label {
  font-size: 1rem;
  font-weight: $bold;
  margin-bottom: 0.5rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  color: $dark-blue;
  font: $regular 1.25rem $font-family;
  border-radius: 0.2rem;
  margin-bottom: 0.5rem;

  &:hover,
  &:focus {
    outline: 3px solid $dark-blue;
  }

  &.hasError {
    outline: 3px solid $red;
  }
}

.errorMsg {
  font-size: 1rem;
  color: $red;
}

.field-contactNumber,
.field-email {
  @media only screen and (min-width: $bp-tablet) {
    width: calc(50% - 1rem);
    display: inline-block;
  }
}

.field-contactNumber {
  @media only screen and (min-width: $bp-tablet) {
    margin-right: 2rem;
  }
}

.field-postalCode {
  @media only screen and (min-width: $bp-tablet) {
    display: inline-block;
  }
}

::placeholder {
  font-weight: $light;
  color: $dark-blue;
  opacity: 0.6;
}

button {
  width: 100%;
  border: none;
  background-color: $dark-blue;
  color: $white;
  font: $bold 1.25rem $font-family;
  padding: 0.5rem 4rem;
  margin-top: 2rem;
  border-radius: 0.2rem;

  &:hover,
  &:focus {
    background-color: $red;
  }

  @media only screen and (min-width: $bp-tablet) {
    width: unset;
  }
}

.confirmationMsg {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $light-blue;
  font-size: 2.5rem;
  font-weight: $bold;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 1.25rem;

  @media only screen and (min-width: $bp-tablet) {
    padding: 2rem;
  }

  p {
    text-align: center;
  }
}