@import '../styles/reset.scss';
@import './global.scss';

html {
  background-color: $white;
  color: $purple;
  font: $regular 100% $font-family;
}

body {
  font-size: 1.25rem;
}

#signUpForm {
  max-width: 40%;
  margin: 0 auto;
  padding: 2rem;
  background-color: $orange;
  border-radius: 0.5rem;
}

header {
  margin-bottom: 2rem;
}

h1 {
  font-size: 3.5rem;
  font-weight: $bold;
  margin-bottom: 0.8rem;
}

label,
input,
button {
  display: block;
}

label {
  font-size: 0.9rem;
  font-weight: $bold;
  margin-bottom: 0.5rem;
}

input {
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  border: none;
  color: $purple;
  font: $regular 1.25rem $font-family;
  border-radius: 2px;
}

button {
  border: none;
  background-color: $teal;
  color: $white;
  font-family: $font-family;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  border-radius: 2px;
}

::placeholder {
  font-weight: $light
}