@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

// colours
$light-blue: #C9DFF2;
$red: #963650;
$dark-blue: #3B4359;
$white: #E9F1F2;

//font styles
$font-family: 'Oxygen', 'Tahoma', sans-serif;
$bold: 700;
$regular: 400;
$light: 300;

//breakpoints
$bp-tablet: 768px;
$bp-desktop: 1104px;
